# system
.cache/
.idea/
__pycache__/
*.pyc
.venv

# LLM models (QUAN TRỌNG)
model/
*.gguf
*.bin
*.safetensors
*.pt
*.pth

frontend/nextjs/
dowload_model.py
test.py
.env
data/
receipts_dataset/
data_images.xlsx
data.rar